Host *
    Compression yes
    ServerAliveInterval 240
    PubkeyAuthentication no
    IdentitiesOnly yes
    PubkeyAcceptedKeyTypes +ssh-dss
#
# NOTE: These two are considered very bad!!!! http://git.io/vO2A6
# ForwardAgent yes
# AddKeysToAgent yes
# Better way to do ForwardAgent
# Host hostb
#     User userbar
#     Hostname 192.168.1.1
#     Port 2222
#     ProxyCommand ssh -q -W %h:%p hosta

Host caen
    HostName login-course.engin.umich.edu
    User joebb
    IdentityFile ~/.ssh/id_rsa

# TODO: Make separate github and gitlab keys
# Host github.com
    # PubkeyAuthentication yes
    # IdentityFile ~/.ssh/github_id_rsa
