# By default config files are assumed to be in ~/.ssh/
Include arbor_config

Host caen
    HostName login-course.engin.umich.edu
    User joebb
    PubkeyAuthentication yes
    IdentityFile ~/.ssh/id_rsa

Host gitlab.eecs.umich.edu
    PubkeyAuthentication yes
    IdentityFile ~/.ssh/id_rsa

Host github.com
    PubkeyAuthentication yes
    IdentityFile ~/.ssh/id_rsa

# TODO: Make separate github and gitlab keys
# Host github.com
    # PubkeyAuthentication yes
    # IdentityFile ~/.ssh/github_id_rsa

Host *
    # Compression yes
    ServerAliveInterval 240
    PubkeyAuthentication no
    IdentitiesOnly yes
    # NOTE: PLZ DONT USE OLD DSS KEYS
    # PubkeyAcceptedKeyTypes +ssh-dss
#
# NOTE: These two below are considered very bad most of the time!!!! 
# See: http://git.io/vO2A6, https://heipei.io/2015/02/26/SSH-Agent-Forwarding-considered-harmful/

# ForwardAgent yes
# AddKeysToAgent yes

# Better way to do ForwardAgent
# Host hostb
#     User userbar
#     Hostname 192.168.1.1
#     Port 2222
#     ProxyCommand ssh -q -W %h:%p hosta

