# Remember to run `cfg config status.showUntrackedFiles no` otherwise status will show 2many files
/*
!dot_*
!private_dot_*
!.bashrc
!.bash_profile
!.bash_it
!.extra
.vagrant
!.gitconfig
!.gitignore-global
!.inputrc
!.local/bin/placeholder.txt
!.ssh/ssh_config
!.tmux/plugins/tpm
!.tmux.conf
!tools
!.vim/autoload
!.vim/colors
!.vimrc
!README.md
!.config/
# Pretty sure the rest of these .config rules do nothing, but I see no harm in deleting them lol.
!.config/sway/config
!.config/fish/config.fish
!.config/nvim
!.config/nvim/lua/*.lua
!.config/alacritty/alacritty.yml
!.custom-bash
.tools/google-cloud-sdk
