/*
!.bashrc
!.bash_profile
!.bash_it
!.extra
.vagrant
!.gitconfig
!.gitignore-global
!.inputrc
!.local/bin/ack
!.ssh/ssh_config
!.tmux/plugins/tpm
!.tmux.conf
!.tools
!.vim/autoload
!.vim/colors
!.vimrc
!README.md
!.custom-bash
