/*
!.bashrc
!.bash_profile
!.bash_it
!.extra
.vagrant
!.gitconfig
!.gitignore-global
!.inputrc
!.local/bin/placeholder.txt
!.ssh/ssh_config
!.tmux/plugins/tpm
!.tmux.conf
!.tools
!.vim/autoload
!.vim/colors
!.vimrc
!README.md
!.config/sway/config
!.config/fish/config.fish
!.config/fish/prompt_help.fish
!.config/nvim/init.vim
!.config/alacritty/alacritty.yml
!.custom-bash
.tools/google-cloud-sdk
